body {
    background-color: #0a0a0a;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #111;
    padding: 2rem;
    border: 1px solid #333;
    text-align: center;
    width: 350px;
    box-shadow: 0 0 20px rgba(0, 255, 65, 0.1);
}

h1 { letter-spacing: 5px; color: #00ff41; }
.stats {
    background: #000;
    padding: 15px;
    border: 1px dashed #444;
    margin: 15px 0;
    text-align: left;
}

input, select {
    width: 100%;
    background: #000;
    border: 1px solid #333;
    color: #fff;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
}

button {
    background: #fff;
    color: #000;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

button:hover { background: #00ff41; }
#btn-validate { width: 100%; background: #00ff41; margin-top: 10px; }